<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
    </head>
<body>
    
  {{>navbar}}
    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row"> 

                     <!-- left side div -->

                     

                     <div class="col-md-6 col-12 main_header_right">
                     
                        <figure>

                           <img src="images/bg-5.png" alt="Ashutosh" class="img-fluid" title="AshutoshWeather">
                         </figure>

                       
                   </div>
                    
                    <div class="col-md-6 col-12 main_header_left">

                      <p>Welcome To Weather App</p>
                      <h1> Oops Page Not Found 😒</h1>
                      <a href="https://linkedin.com" target="_linkedin"><button>About Me</button></a>
                    </div>
                 <!-- right side div -->
                    <!-- <div class="col-md-6 col-12 main_header_right">
                     
                         <figure>

                            <img src="images/bg-2.png" alt="Ashutosh" class="img-fluid" title="AshutoshWeather">
                          </figure>

                        
                    </div> -->
            
            
            </div>
               

            </div>
        </div>
    </div>


    <!-- footer -->

    {{>footer}}
</body>
</html>